catboost==0.24.2
Chaid==5.3.0
combo==0.1.1
dask==2020.12.0
dask-ml==1.7.0
easyexplore==0.7.0
emoji==0.6.0
fsspec==0.8.5
gensim==3.8.3
geocoder==1.38.1
googletrans==3.0.0
joblib==0.14.1
nltk==3.5
numpy==1.19.2
pandas==1.1.4
pygam==0.8.0
pyod==0.8.2
requests==2.24.0
scipy==1.5.2
scikit-learn==0.23.2
sentence-transformers==0.4.1
simpletransformers==0.61.2
spacy==2.3.2
sqlalchemy==1.3.19
statsmodels==0.12.0
torch==1.7.0
torchtext==0.8.0
transformers==4.3.3
xgboost==1.2.0