Chaid>=5.1.0
catboost>=0.24.2
dask>=2.25.0
dask-ml>=1.7.0
easyexplore>=0.6.0
emoji>=0.5.4
fsspec>=0.8.0
gensim>=3.8.3
geocoder>=1.38.1
googletrans>=3.0.0
joblib>=0.14.1
nltk>=3.5
numpy>=1.18.1
pandas>=1.1.1
pygam>=0.8.0
pyod>=0.7.7.1
requests>=2.23.0
scipy>=1.4.1
scikit-learn>=0.22.2
sentence-transformers>=0.4.1.2
simpletransformers>=0.60.6
spacy>=2.3.2
sqlalchemy>=1.3.15
statsmodels>=0.9.0
torch==1.7.0
torchtext==0.8.0
transformers>=3.4.0
xgboost>=1.0.2